@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>American Cancer Society</h1>
    <p class="lead">The American Cancer Society is a nationwide, community-based voluntary health organization dedicated to eliminating cancer as a major health problem.</p>
    <p><a href="http://www.cancer.org/aboutus/whoweare/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    <img src="http://www.stjohnsegham.com/wp-content/uploads/2013/01/hammer.png" alt="Hammer View" style="width:800px;height:250px;">
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Learn About Cancer</h2>
        <p>
            More than one million people in the United States get cancer each year.
            Whether you have cancer or are close to someone who does,
            understanding what to expect can help you cope. In
            this section you can find basic information about cancer
            and what causes it, as well as in-depth information
            about specific types of cancer, their risk factors,
            early detection, diagnosis, and treatment options.
        </p>
        <p><a class="btn btn-default" href="http://www.cancer.org/cancer/index">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Stay Healthy</h2>
        <p>
            Many cancer deaths could be prevented by
            making healthy choices like not smoking,
            staying at a healthy weight, eating right,
            keeping active, and getting recommended screening tests.
            In this section you can learn how to help lower your
            chances of getting cancer, plus what screening tests
            the American Cancer Society recommends, and when.
        </p>
        <p><a class="btn btn-default" href="http://www.cancer.org/healthy/index">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get Involved</h2>
        <p>
            Cancer's biggest fear? You.
            In this section you can learn the many ways
            to support your American Cancer Society with
            tax-deductible donations, volunteer opportunities,
            and life-changing events such as Making Strides Against
            Breast Cancer® and Relay For Life®.
        </p>
        <p><a class="btn btn-default" href="http://www.cancer.org/involved/index">Learn more &raquo;</a></p>
    </div>
</div>